$color-primario: #ff0000;
$color-secundario: blue;
$color-terciario: rgba(0,2555,0,1);

$fuente-titulos: lobster, Helvetica, sans-serif;
$fuente-texto: Verdana, tahoma, sans-serif;

$color-boton: #624596;
$color-boton-hover: darken($color-boton,20%);

//Lighthen