header {
	background: red;
	padding: 100px 0;

	h1{
		font-family:Arial, Helvetica, sans-serif;
		color: white;
		text-transform: uppercase;
		
		strong{
			color: yellow;

		}
	}

	h3{
		font-family: Arial, Helvetica, sans-serif;
		color: #000;
	}

	a{
		text-decoration: none;
		background: white;
		color: red;
		border-radius: 5px;
		padding: 10px 30px;
		margin-top: 20px;
		&:hover {
			background: yellow;
		}
	}
}

